<html>
<header>
  <style>
    /* le block conteneur */
    .marquee-rtl {
      max-width: 90%;
      /* largeur de la fenêtre */
      margin: 1em auto 2em;
      border: 3px solid #F0F0FF;
      overflow: hidden;
      /* masque tout ce qui dépasse */
      box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
      opacity: 0.8;
    }

    /* le bloc défilant */
    .marquee-rtl> :first-child {
      display: inline-block;
      /* modèle de boîte en ligne */
      padding-right: 2em;
      /* un peu d'espace pour la transition */
      padding-left: 100%;
      /* placement à droite du conteneur */
      white-space: nowrap;
      /* pas de passage à la ligne */
      animation: defilement-rtl 60s infinite linear;
      font-size: 2em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #ff1717;
    }

    @keyframes defilement-rtl {
      0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
      }

      100% {
        transform: translate3d(-200%, 0, 0);
        /* position finale à gauche */
      }
    }
  </style>
</header>

<body>

  <div class="marquee-rtl">
    <!-- le contenu défilant -->
    <div>
      <strong>TOP 3 casiers =></strong>
      <% for(var i=0; i < datasTop3Casier.length; i++) { %>
        <i>
          <%= datasTop3Casier[i].prenom %>, <%= datasTop3Casier[i].nom %> : <strong>
                $<%= Intl.NumberFormat('us-US').format(datasTop3Casier[i].total) %>
              </strong>&nbsp;&nbsp;
        </i>
        <% } %>
        /&nbsp;
      <strong>dernier casier =></strong>
        <i>
          <%= datasTop3dernierCasier[0].prenom %>, <%= datasTop3dernierCasier[0].nom %> : <strong>
                $<%= Intl.NumberFormat('us-US').format(datasTop3dernierCasier[0].total) %>
              </strong>&nbsp;&nbsp;
        </i>
    </div>
  </div>

  <script>
    window.setTimeout(function () {
      window.location.reload();
    }, 30000);
  </script>

</body>

</html>