<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../../partials/header'); -%>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Accueil Police</a></li>
            <li class="breadcrumb-item"><a href="/rapports">Casiers</a></li>
        </ol>
    </nav>

    <form action="/police/rapport_save" method="post">
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-control" id="type" name="type">
                <option value="Rapport">Rapport</option>
                <option value="Plainte">Plainte</option>
                <option value="Personne recherché">Personne recherché</option>
                <option value="Autre">Autre</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="agent_name" class="form-label">Nom Agent</label>
            <input type="text" id="agent_name" class="form-control" name="agent_name" value="<%= user.displayName %>" readonly>
            <input type="hidden" id="agent_playerid" class="form-control" name="agent_playerid" value="<%= user.id %>" readonly>
        </div>
        <div class="mb-3">
            <label for="civil_name" class="form-label">Nom du civil <i>(bien séléctionner un civil ne jamais saisir à la main !)</i></label>
            <input class="form-control" list="datalistOptions" id="civil_name" name="civil_name" placeholder="Entrez premier caractère..."
                required>
            <datalist id="datalistOptions" name="civil_name">
                <% for(var i=0; i < datas.length; i++) { %>
                    <option value="<%=datas[i].name %>"></option>
                        <% } %>
            </datalist>
        </div>
        <div class="mb-3">
            <label for="sujet" class="form-label">Description du délis</label>
            <textarea class="form-control" id="sujet" name="sujet" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="amende" class="form-label">Prix amende</label>
            <input type="number" id="amende" name="amende" class="form-control" value="0" required>
        </div>
        <div class="mb-3">
            <input type="submit" id="send" class="btn btn-secondary" name="Envoyer">
        </div>
    </form>


    <%- include('../../partials/footer'); -%>