<%- include('../../partials/header'); -%>

    <style>
        .someclass {
            color: red;
            font-weight: bold;
            background-color: antiquewhite;
        }
    </style>

    <div class="container">

        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Moteur recherche investigation
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                ce moteur n'est accessible que par l'investigation
                <br /><i>le résultat de la recherche correspond à toutes les données saisie dans les différents système
                    informatiques de la LSPD et BCSO</i>
            </figcaption>
        </figure>

        <form class="row g-3 needs-validation" action="/investigations" method="get">

            <div class="col-12">
                <label for="searchWords" class="form-label">Moteur de recherche</label>
                <input class="form-control" list="datalistOptions" id="searchWords" name="search"
                    value="<%= stringSearch%>" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="fra">
                    <option value="fra tir">
                    <option value="al">
                </datalist>
            </div>

            <div class="col-4">
                <button class="btn btn-primary" type="submit">rechercher</button>
            </div>

        </form>

        <br />
        <div class="row" id="findText">

            <% for(var i=0; i < datasCivil.length; i++) { %>
                <div class="col-sm-4 mb-2 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="badge text-bg-success">civil connu</span>
                            </h5>
                            <p class="card-text">
                                <u>prénom, nom :</u> <i>
                                    <%= datasCivil[i].prenom %>, <%= datasCivil[i].nom %>
                                </i>
                                <br />
                                <u>tél. :</u> <i>
                                    <%= datasCivil[i].téléphone %>
                                </i>
                                <br />
                                <u>date :</u> <i>
                                    <%= moment(datasCivil[i].timeCreate).format('DD/MM/YYYY HH:mm') %>
                                </i>
                            </p>
                            <a href="/casier/edit/<%= datasCivil[i].id %>" target="_blank" class="btn btn-sm btn-outline-primary">detail</a>
                        </div>
                    </div>
                </div>
                <% } %>


                    <% for(var i=0; i < datasCasier.length; i++) { %>
                        <div class="col-sm-4 mb-2 mb-sm-0">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <span class="badge text-bg-danger">casier</span>
                                    </h5>
                                    <p class="card-text">
                                        <u>lieu :</u> <i>
                                            <%= datasCasier[i].lieu %>
                                        </i>
                                        <br />
                                        <u>fait :</u> <i>
                                            <%= datasCasier[i].detail_fait.slice(0,30) %>
                                        </i>
                                        <br />
                                        <u>date :</u> <i>
                                            <%= moment(datasCasier[i].timeUpdate).format('DD/MM/YYYY HH:mm') %>
                                        </i>
                                    </p>
                                    <a href="/casier/detail/edit/<%= datasCasier[i].id_casier %>" target="_blank" class="btn btn-sm btn-outline-primary">detail</a>
                                </div>
                            </div>
                        </div>
                        <% } %>


                            <% for(var i=0; i < datasRapport.length; i++) { %>
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span class="badge text-bg-warning">rapport</span>
                                            </h5>
                                            <p class="card-text">
                                                <u>sujet :</u> <i>
                                                    <%= datasRapport[i].sujet.slice(0,30) %>
                                                </i>
                                                <br />
                                                <u>date :</u> <i>
                                                    <%= moment(datasRapport[i].date).format('DD/MM/YYYY HH:mm') %>
                                                </i>
                                                <br />
                                                <% const redType=['fusillade','bracage','meurtre']; %>
                                                    <% if (redType.includes(datasRapport[i].type)) { %>
                                                        <span class="badge bg-danger">
                                                            <%= datasRapport[i].type %>
                                                        </span>
                                                        <% } else { %>
                                                            <% if (datasRapport[i].type=="convocation" ) { %>
                                                                <span class="badge bg-warning">A convoquer !</span>
                                                                <% } else { %>
                                                                    <span class="badge bg-secondary">
                                                                        <%= datasRapport[i].type %>
                                                                    </span>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% if (datasRapport[i].status=="en cours" )
                                                                                { %>
                                                                                <span class="badge bg-success">en
                                                                                    cours</span>
                                                                                <% } else { %>
                                                                                    <span class="badge bg-secondary">
                                                                                        <%= datasRapport[i].status %>
                                                                                    </span>
                                                                                    <% } %>
                                            </p>
                                            <a href="/rapports/read/<%= datasRapport[i].uuid %>" target="_blank" class="btn btn-sm btn-outline-primary">detail</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                                    <% for(var i=0; i < datasInvest.length; i++) { %>
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <span class="badge text-bg-secondary">INVESTIGATION</span>
                                                    </h5>
                                                    <p class="card-text">
                                                        <u>sujet :</u> <i>
                                                            <%= datasInvest[i].sujet.slice(0,30) %>
                                                        </i>
                                                        <br />
                                                        <u>date :</u> <i>
                                                            <%= moment(datasInvest[i].date).format('DD/MM/YYYY HH:mm')
                                                                %>
                                                        </i>
                                                        <br />
                                                        <% const redType=['fusillade','bracage','meurtre']; %>
                                                            <% if (redType.includes(datasInvest[i].type)) { %>
                                                                <span class="badge bg-danger">
                                                                    <%= datasInvest[i].type %>
                                                                </span>
                                                                <% } else { %>
                                                                    <% if (datasInvest[i].type=="convocation" ) { %>
                                                                        <span class="badge bg-warning">A convoquer
                                                                            !</span>
                                                                        <% } else { %>
                                                                            <span class="badge bg-secondary">
                                                                                <%= datasInvest[i].type %>
                                                                            </span>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <% if
                                                                                        (datasInvest[i].status=="en cours"
                                                                                        ) { %>
                                                                                        <span
                                                                                            class="badge bg-success">en
                                                                                            cours</span>
                                                                                        <% } else { %>
                                                                                            <span
                                                                                                class="badge bg-secondary">
                                                                                                <%= datasInvest[i].status
                                                                                                    %>
                                                                                            </span>
                                                                                            <% } %>
                                                    </p>
                                                    <a href="/investigations/read/<%= datasInvest[i].uuid %>" target="_blank" class="btn btn-sm btn-outline-primary">detail</a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

        </div>

        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Dossier investigation
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                seule l'investigation à accès aux données ci-dessous
            </figcaption>
        </figure>

        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/investigations/new" type="button" class="btn btn-outline-primary">Ajouter</a>
            </div>
        </div>

        <br />

        <div class="row">
            <table id="table_investigations" class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Sujet</th>
                        <th scope="col">type</th>
                        <th scope="col">status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < datas.length; i++) { %>
                        <tr>
                            <td>
                                <%= moment(datas[i].dateCreate).format('DD/MM/YYYY HH:mm') %>
                            </td>
                            <td>
                                <%= datas[i].sujet.slice(0,50) %>
                            </td>
                            <td>
                                <% const redType=['fusillade','bracage','meurtre']; %>
                                    <% if (redType.includes(datas[i].type)) { %>
                                        <span class="badge bg-danger">
                                            <%= datas[i].type %>
                                        </span>
                                        <% } else { %>
                                            <% if (datas[i].type=="convocation" ) { %>
                                                <span class="badge bg-warning">A convoquer !</span>
                                                <% } else { %>
                                                    <span class="badge bg-secondary">
                                                        <%= datas[i].type %>
                                                    </span>
                                                    <% } %>
                                                        <% } %>
                            </td>
                            <td>
                                <% if (datas[i].status=="en cours" ) { %>
                                    <span class="badge bg-success">en cours</span>
                                    <% } else { %>
                                        <span class="badge bg-secondary">
                                            <%= datas[i].status %>
                                        </span>
                                        <% } %>
                            </td>
                            <td>
                                <a href="/investigations/read/<%= datas[i].uuid %>" type="button"
                                    class="btn btn-primary btn-sm" title="consulter"><i data-feather="eye"></i></a>
                                <a href="/investigations/read_extern/<%= datas[i].uuid %>" target="_blank" type="button"
                                    class="btn btn-warning btn-sm" title="consulter à l'externe"><i
                                        data-feather="external-link"></i></a>
                                <a href="/investigations/edit/<%= datas[i].uuid %>" type="button"
                                    class="btn btn-info btn-sm" title="éditer"><i data-feather="edit"></i></a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('#table_investigations').DataTable({
                "pageLength": 25,
                order: [[0, 'desc']]
            });

            //stringSearch
            //yourstring = "fra";
            yourstring = $("#searchWords").val().split(' ');
            yourstring.forEach((search) => {
                console.log(">>>>>>", search);
                $('#findText:contains(' + search + ')', document.body).each(function () {
                    $(this).html($(this).html().replace(
                        new RegExp(search, 'ig'), '<span class=someclass>' + search + '</span>'
                    ));
                });
            });


        });
    </script>



    <%- include('../../partials/footer'); -%>