<%- include('../../partials/header'); -%>

    <div class="container">
        <form class="row g-3 needs-validation" action="/investigations/save" method="post">
            <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Agent</label>
                <strong>[<%= user.matricule %>] <%= user.prenom %>, <%= user.nom %></strong>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Date</label>
                <strong>
                    <%= moment().format('DD/MM/YYYY HH:mm') %>
                </strong>
            </div>

            <div class="col-md-6">
                <label for="typeVal" class="form-label">Type</label>
                <select id="typeVal" name="type">
                    <option value="classique">classique</option>
                    <option value="plainte">plainte</option>
                    <option value="bracage">bracage</option>
                    <option value="fusillade">fusillade</option>
                    <option value="meurtre">meurtre</option>
                    <option value="vol">vol</option>
                    <option value="convocation">convocation</option>
                    <option value="autres">autres</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="typeVal" class="form-label">Status</label>
                <select id="typeVal" name="status">
                    <option value="en cours">en cours</option>
                    <option value="abandonnée">abandonnée</option>
                    <option value="classé">classé</option>
                </select>
            </div>

            <div class="col-md-12">
                <label for="validationCustom02" class="form-label">Sujet</label>
                <input type="text" class="form-control" id="validationCustom02" name="sujet" maxlength="50" value="" required>
            </div>

            <div class="mb-12">
                <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="commentaire"
                    required></textarea>
            </div>

            <div class="col-md-6">
                <label for="validationCustom07" class="form-label">photo 1</label>
                <input type="text" class="form-control" id="validationCustom07" name="photo_1" value="">
            </div>

            <div class="col-md-6">
                <label for="validationCustom08" class="form-label">photo 2</label>
                <input type="text" class="form-control" id="validationCustom08" name="photo_2" value="">
            </div>

            <div class="col-md-6">
                <label for="validationCustom071" class="form-label">photo 3</label>
                <input type="text" class="form-control" id="validationCustom071" name="photo_3" value="">
            </div>

            <div class="col-md-6">
                <label for="validationCustom081" class="form-label">photo 4</label>
                <input type="text" class="form-control" id="validationCustom081" name="photo_4" value="">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Sauvegarder</button>
            </div>
        </form>
    </div>

    <%- include('../../partials/footer'); -%>