<%- include('../partials/header'); -%>



    <% if (user) { %>
        <!-- === AVEC CONNEXION =========================================================================================================================== -->

           <div class="row">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Vos informations
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nom : <strong>
                                <%= user.prenom %> <%= user.nom %>
                            </strong>
                        </p>
                        <p class="card-text">arrivée le : <strong>
                                <%= moment(user.timeJoin).format('DD/MM/YYYY HH:mm') %>
                            </strong>
                        </p>
                        <p class="card-text">dernière connexion : <strong>
                                <%= moment(user.lastUpdate).format('DD/MM/YYYY HH:mm') %>
                            </strong>
                        </p>

                        <p class="card-text">Grade : <strong>
                            <%= user.grade_label %>
                            </strong>
                        <p class="card-text">Matricule : <strong>
                            <%= user.matricule %>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <% } else { %>
            <!-- === SANS CONNEXION =========================================================================================================================== -->

            <div class="row">
                <div class="col-sm-12">
    
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bienvenue sur l'intranet Police
                            </h5>
                            <p class="card-text">
                                Vous n'êtes pas authentifié.<br/>
                                <strong>Première fois ?</strong><br/>
                                <ul>
                                    <li>Pour l'instant me MP avant 21h (avant le stream)</li>
                                    <li><strong>Déveuloppement en cours...</strong></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <% } %>


        <%- include('../partials/footer'); -%>