<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../partials/header'); -%>



    <% if (user) { %>
        <!-- === AVEC CONNEXION =========================================================================================================================== -->

        <div class="row">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Vos informations <a href="/players/edit/<%= user.id %>"
                            class="btn btn-sm btn-primary">Editer</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nom : <strong>
                                <%= user.prenom %>
                                    <%= user.nom %>
                            </strong>
                        </p>
                        <p class="card-text">arrivée le : <strong>
                                <%= moment(user.timeJoin).format('DD/MM/YYYY HH:mm') %>
                            </strong>
                        </p>
                        <p class="card-text">dernière connexion : <strong>
                                <%= moment(user.lastUpdate).format('DD/MM/YYYY HH:mm') %>
                            </strong>
                        </p>

                        <p class="card-text">Grade : <strong>
                                <%= user.grade_label %>
                            </strong>
                        <p class="card-text">Matricule : <strong>
                                <%= user.matricule %>
                            </strong>
                        </p>
                        <p class="card-text">Téléphone : <strong>
                                (555)-<%= user.telephone %>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Liste des agents LSPD / BCSO</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Permet de connaitre les effectifs et leur numéro de téléphone en cas de besoins (permet de limiter
                    les appels radio)
                </figcaption>
            </figure>

            <div class="row">
                <table id="table_civils" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Mat.</th>
                            <th scope="col">Non</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Service</th>
                            <th scope="col">Tél.</th>
                            <th scope="col">Investig</th>
                            <% if (user.evaluateur==1) { %>
                                <th scope="col">add éval.</th>
                                <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < datas.length; i++) { %>
                            <tr>
                                <td>
                                    <%= datas[i].matricule %>
                                </td>
                                <td>
                                    <%= datas[i].nom %>
                                </td>
                                <td>
                                    <%= datas[i].prenom %>
                                </td>
                                <td>
                                    <%= datas[i].grade_label %>
                                </td>
                                <td>
                                    <% if (datas[i].service=="LSPD" ) { %>
                                        <span class="badge rounded-pill text-bg-primary">
                                            <%= datas[i].service %>
                                        </span>
                                        <% }else{ %>
                                            <span class="badge rounded-pill text-bg-secondary">
                                                <%= datas[i].service %>
                                            </span>
                                            <% } %>
                                </td>
                                <td>
                                    <%= datas[i].telephone %>
                                </td>
                                <td>
                                    <% if (datas[i].investigation==1) { %>
                                        <span class="badge bg-success">oui</span>
                                        <% }else{ %>
                                            non
                                            <% } %>
                                </td>
                                <% if (user.evaluateur==1) { %>
                                    <td>
                                        <a href="/evaluations/new/<%= datas[i].id %>" type="button"
                                            class="btn btn-info btn-sm" title="evaluation"><i
                                                data-feather="trending-up"></i></a>
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>

        </div>

        <script>
            $(document).ready(function () {
                $('#table_civils').DataTable({
                    "pageLength": 100,
                    order: [[4, 'desc'], [0, 'asc'], [1, 'asc'], [2, 'asc']]
                });
            });
        </script>

        <% } else { %>
            <!-- === SANS CONNEXION =========================================================================================================================== -->

            <div class="row">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bienvenue sur l'intranet Police
                            </h5>
                            <p class="card-text">
                                Vous n'êtes pas authentifié.<br />
                                <strong>Première fois ?</strong><br />
                            <ul>
                                <li>Pour l'instant me MP avant 21h (avant le stream)</li>
                                <li><strong>Déveuloppement en cours...</strong></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>


                <%- include('../partials/footer'); -%>