<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../../partials/header'); -%>

    <div class="media">
        <div class="media-body">
            <strong>Liste code pénal</strong>
            <span class="badge rounded-pill text-bg-danger">MAXIMUM DE 5 INFRACTIONS AUTORISEES / MAXIMUM DE 3 DELITS</span>
        </div>
    </div>

    <br/>

    <div class="row">
        <table id="table_codepenal" class="table-responsive table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Infraction</th>
                    <th scope="col">Montant</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < datasCdePenal.length; i++) { %>
                    <tr>
                        <td>
                            <%= datasCdePenal[i].label %> <span class="badge rounded-pill text-bg-primary"><%= datasCdePenal[i].genre %></span> <span class="badge rounded-pill text-bg-secondary"><%= datasCdePenal[i].type %></span> <br/>
                            <i><span class="badge text-bg-light"><%= datasCdePenal[i].complement %></span></i>
                        </td>
                        <td>$<%= Intl.NumberFormat('us-US').format(datasCdePenal[i].tarif) %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>


    </div>


    <script>
        $(document).ready(function () {
            $('#table_codepenal').DataTable({
                "pageLength": 50,
                order: [[0, 'asc']]
            });
        });
    </script>

    <%- include('../../partials/footer'); -%>