<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../../partials/header'); -%>

    <div class="container">
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Agent</label>
            <strong>[<%= datas.matricule %>] <%= datas.prenom %>, <%= datas.nom %></strong>
        </div>
        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Date</label>
            <strong>
                <%= moment(datas.dateCreate).format('DD/MM/YYYY HH:mm') %>
            </strong>
        </div>

        <div class="col-md-12">
            <label for="validationCustom02" class="form-label">Sujet</label>
            <strong>
                <%= datas.sujet %>
            </strong>
        </div>

        <div class="mb-12">
            <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>

            <pre
                style="overflow-y:scroll; max-width:1200px; height:400px; border:0.5px solid lightgray; padding:5px; white-space:pre-wrap;">
                <%= datas.commentaire %>
            </pre>

        </div>


        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Photos 1
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_1 %>" target="_blank">
                        <img src="<%= datas.photo_1 %>" class="img-thumbnail float-start" alt="photo 1" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Photos 2
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_2 %>" target="_blank">
                        <img src="<%= datas.photo_2 %>" class="img-thumbnail float-end" alt="photo 2" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Photos 3
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_3 %>" target="_blank">
                        <img src="<%= datas.photo_3 %>" class="img-thumbnail float-start" alt="photo 3" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Photos 4
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_4 %>" target="_blank">
                        <img src="<%= datas.photo_4 %>" class="img-thumbnail float-end" alt="photo 4" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12">
            <a href="/rapports" class="btn btn-success" type="submit">Retour</a>
        </div>
    </div>

    <%- include('../../partials/footer'); -%>