<%- include('../../partials/header-nomenu'); -%>

  <div class="container">

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Rapport de Police / BCSO</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Agent matricule <cite title="Source Title"><%= datas.matricule %></cite> du <cite title="Source Title">
          <%= moment(datas.dateCreate).format('DD/MM/YYYY HH:mm') %>
        </cite>
      </figcaption>
    </figure>

    <br />
    <br />

    <div class="col-md-12">
      <label for="validationCustom02" class="form-label"><strong>Sujet</strong></label><br />
      <pre>
        <%= datas.sujet %>
      </pre>
    </div>

    <br />
    <br />

    <div class="mb-12">
      <label for="exampleFormControlTextarea1" class="form-label"><strong>Commentaire</strong></label>
      <pre
        style="overflow-y:scroll; max-width:1200px; height:400px; border:0.5px solid lightgray; padding:5px; white-space:pre-wrap;">
        <%= datas.commentaire %>
      </pre>
    </div>

    <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
              Photos 1
          </div>
          <div class="card-body">
              <img src="<%= datas.photo_1 %>" class="img-thumbnail float-start" alt="photo 1" />
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
              Photos 2
          </div>
          <div class="card-body">
              <img src="<%= datas.photo_2 %>" class="img-thumbnail float-end" alt="photo 2" />
          </div>
      </div>
  </div>

  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
              Photos 3
          </div>
          <div class="card-body">
              <img src="<%= datas.photo_3 %>" class="img-thumbnail float-start" alt="photo 3" />
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
              Photos 4
          </div>
          <div class="card-body">
              <img src="<%= datas.photo_4 %>" class="img-thumbnail float-end" alt="photo 4" />
          </div>
      </div>
  </div>

  </div>

  <%- include('../../partials/footer'); -%>