<%- include('../../partials/header'); -%>

    <div class="media">
        <div class="media-body">
            <strong>Joueurs référencés</strong>
        </div>
    </div>

    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/player/new" type="button" class="btn btn-outline-primary">Ajouter player</a>
            <a href="/evaluations/export" target="_blank" type="button" class="btn btn-outline-success">Export évaluations</a>
        </div>
    </div>

    <br/>

    <div class="row">
        <table id="table_civils" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Mat.</th>
                    <th scope="col">Non</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Service</th>
                    <th scope="col">Investig</th>
                    <th scope="col">Actif</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Modifier</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < datas.length; i++) { %>
                    <% 
                    var classGray = "";
                    if (datas[i].actif == 0)  { 
                        classGray = "text-light";
                     } %>
                    <tr>
                        <td class="<%= classGray;%>">
                            <%= datas[i].matricule %>
                        </td>
                        <td class="<%= classGray;%>">
                            <%= datas[i].nom %>
                        </td>
                        <td class="<%= classGray;%>">
                            <%= datas[i].prenom %>
                        </td>
                        <td class="<%= classGray;%>">
                            <%= datas[i].grade_label %>
                        </td>
                        <td class="<%= classGray;%>">
                            <%= datas[i].service %>
                        </td>
                        <td>
                            <% if (datas[i].investigation == 1)  { %>
                                <span class="badge bg-success">oui</span>
                            <% }else{ %>
                                non
                            <% } %>
                        </td>
                        <td>
                            <% if (datas[i].actif == 1)  { %>
                                <span class="badge bg-success">oui</span>
                            <% }else{ %>
                                non
                            <% } %>
                        </td>
                        <td>
                            <% if (datas[i].admin == 1)  { %>
                                <span class="badge bg-danger">oui</span>
                            <% }else{ %>
                                non
                            <% } %>
                        </td>
                        <td>
                            <a href="/admin/player/edit/<%= datas[i].id %>" type="button" class="btn btn-primary btn-sm" title="editer"><i data-feather="edit-2"></i></a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>


    <script>
        $(document).ready(function () {
            $('#table_civils').DataTable({
                "pageLength": 100,
                order: [[6, 'desc'],[4, 'desc'],[1, 'asc'],[2, 'asc']]
            });
        });
    </script>

    <%- include('../../partials/footer'); -%>