<%- include('../../partials/header'); -%>

    <div class="media">
        <div class="media-body">
            <strong>Civils référencés</strong>
        </div>
    </div>

    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/civils/new" type="button" class="btn btn-outline-primary">Ajouter civil</a>
        </div>
    </div>

    <br/>

    <div class="row">
        <table id="table_civils" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Non</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Total amendes</th>
                    <th scope="col">Details / Nouveau</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < datas.length; i++) { %>
                    <tr>
                        <td>
                            <%= datas[i].nom %>
                        </td>
                        <td>
                            <%= datas[i].prenom %>
                        </td>
                        <td>
                            <% if (datas[i].total != null)  { %>
                              <%= Intl.NumberFormat('us-US').format(datas[i].total) %>
                            <% }else{ %>
                                <span class="badge bg-secondary">casier vierge</span>
                            <% } %>
                        </td>
                        <td>
                            <a href="/civils/edit/<%= datas[i].id %>" type="button" class="btn btn-info btn-sm" title="editer fiche civil"><i data-feather="user"></i></a>
                            <a href="/casier/edit/<%= datas[i].id %>" type="button" class="btn btn-warning btn-sm" title="casier"><i data-feather="layers"></i></a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>


    <script>
        $(document).ready(function () {
            $('#table_civils').DataTable();
        });
    </script>

    <%- include('../../partials/footer'); -%>