<%- include('../../partials/header'); -%>

    <div class="media">
        <div class="media-body">
            <strong>Les 300 derniers casers</strong>
        </div>
    </div>

    <div class="row">

        <table id="table_civils" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Non</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total amendes</th>
                    <th scope="col">Payé</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody> 
                <% for(var i=0; i < datas.length; i++) { %>
                    <tr>
                        <td><%= datas[i].nom %></td>
                        <td><%= datas[i].prenom %></td>
                        <td><%= moment(datas[i].date).format('DD/MM/YYYY HH:mm') %></td>
                        <td><%= Intl.NumberFormat('us-US').format(datas[i].montant_total) %></td>
                        <td><%= datas[i].paye %></td>
                        <td>
                            <a href="/civils/casier/<%= datas[i].id_casier %>" type="button" class="btn btn-secondary btn-sm"><i data-feather="eye"></i> Consulter</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>


    <script>
        $(document).ready(function() {
            $('#table_civils').DataTable();
        });
    </script>

    <%- include('../../partials/footer'); -%>