<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../../partials/header'); -%>

    <script>
        var tupleChange = function (_self, id_casier, id_cas_detail) {
            console.log(`>> ${id_casier}/${id_cas_detail}/${_self.value}`);
            let value = parseInt(_self.value);
            if (!isNaN(value)) {
                location.href=`/casier/detail/multiple/${id_casier}/${id_cas_detail}/${_self.value}`;
            }
        };
    </script>

    <div class="container">

        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Ajout / Modification Casier : <%= civil.prenom %>, <%= civil.nom %>
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <i>Attention: </i> cliquer sur "Sauvegarder" pour enregistrer les 2 champs ci-dessous !
            </figcaption>
        </figure>

        <form class="row g-3 needs-validation" action="/casier/detail/save/<%= casier.id_casier %>" id="myform" method="post">

            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Lieu</label>
                <input type="text" class="form-control" id="validationCustom02" name="lieu" maxlength="50" value="<%= casier.lieu %>"
                    required onfocusout="document.forms['myform'].submit();">
            </div>
            <div class="col-md-6">
                <label for="validationCustom021" class="form-label">Retenue avoir</label>
                <input type="number" class="form-control" id="validationCustom021" name="retenu_compte_bancaire" maxlength="50" value="<%= casier.retenu_compte_bancaire %>"
                    onfocusout="document.forms['myform'].submit();">
            </div>

            <div class="mb-12">
                <label for="exampleFormControlTextarea1" class="form-label">Fait reproché</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="detail_fait" required onfocusout="document.forms['myform'].submit();"><%= casier.detail_fait %></textarea>
            </div>

            <div class="col-2">
                <a href="/casier/edit/<%= casier.civil_id %>" class="btn btn-success">
                    << Retour</a>
            </div>

            <div class="col-10">
                <button class="btn btn-primary" type="submit">Sauvegarder</button>
            </div>

        </form>

    </div>
    <br />


    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Détail des infractions</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Cliquer sur le "-" pour supprimer
        </figcaption>
    </figure>

    <div class="row">
        <table id="" class="table-responsive table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Infraction</th>
                    <th scope="col">Multiple</th>
                    <th scope="col">TIG / H. Fédérale</th>
                    <th scope="col">Montant</th>
                </tr>
            </thead>
            <tbody>
                <% var somme=0 %>
                <% var sommetig=0 %>
                <% var sommeheures=0 %>
                    <% for(var i=0; i < detailsCasiers.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/casier/detail/remove/<%= casier.id_casier %>/<%= detailsCasiers[i].id_cas_detail %>"
                                    type="button" class="btn btn-danger btn-sm" title="casier"><i
                                        data-feather="minus"></i></a>
                            </td>
                            <td>
                                <%= detailsCasiers[i].label %>
                                <span class="badge rounded-pill text-bg-primary"><%= detailsCasiers[i].genre %></span> 
                                <span class="badge rounded-pill text-bg-secondary"><%= detailsCasiers[i].type %></span>
                            </td>
                            <td>
                               <input style="width: 75px;" type="number" value="<%= detailsCasiers[i].multiple %>" onfocusout="tupleChange(this, <%= casier.id_casier %>, <%= detailsCasiers[i].id_cas_detail %>)" />
                            </td>
                            <td class="text-center">
                                <%= detailsCasiers[i].tig %> / <%= detailsCasiers[i].heures_prison %>
                            </td>
                            <td class="text-center">
                                $<%= Intl.NumberFormat('us-US').format(detailsCasiers[i].tarif * detailsCasiers[i].multiple) %>
                            </td>
                        </tr>
                        <% somme=somme + (detailsCasiers[i].tarif * detailsCasiers[i].multiple) %>
                        <% sommetig=sommetig + (detailsCasiers[i].tig) %>
                        <% sommeheures=sommeheures + (detailsCasiers[i].heures_prison) %>
                            <% } %>
            </tbody>

            <tfoot>
                <td colspan="4" class="table-warning text-center">
                    <i>Calcul après retenue</i>: <%= Math.round((somme - casier.retenu_compte_bancaire) / 1500) %> + <%= sommetig %> (obligatoire) = <strong><%= Math.round((somme - casier.retenu_compte_bancaire) / 1500) + sommetig %> T.I.G</strong>
                </td>
                <td class="table-warning text-center">
                    <strong>$<%= Intl.NumberFormat('us-US').format(somme - casier.retenu_compte_bancaire) %></strong>
                </td>
            </tfoot>

            <tfoot>
                <td colspan="3">
                </td>
                <td class="text-center">
                    <strong><%= sommetig %> / <strong><%= sommeheures %> </strong>
                </td>
                <td class="text-center">
                    <strong>$<%= Intl.NumberFormat('us-US').format(somme) %></strong>
                </td>
            </tfoot>
            
        </table>
    </div>


    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Liste du code pénal</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Cliquer sur le + pour ajouter
        </figcaption>
    </figure>

    <div class="row">
        <span class="badge text-bg-danger">MAXIMUM DE 5 INFRACTIONS AUTORISEES / MAXIMUM DE 3 DELITS</span>
        <br/>
        <table id="table_codepenal" class="table-responsive table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Infraction</th>
                    <th scope="col">Montant</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < datasCdePenal.length; i++) { %>
                    <tr>
                        <td>
                            <a href="/casier/detail/add/<%= casier.id_casier %>/<%= datasCdePenal[i].id %>"
                                type="button" class="btn btn-success btn-sm" title="casier"><i
                                    data-feather="plus"></i></a>
                        </td>
                        <td>
                            <%= datasCdePenal[i].label %> <span class="badge rounded-pill text-bg-primary"><%= datasCdePenal[i].genre %></span> <span class="badge rounded-pill text-bg-secondary"><%= datasCdePenal[i].type %></span> <br/>
                            <i><span class="badge text-bg-light"><%= datasCdePenal[i].complement %></span></i>
                        </td>
                        <td>$<%= Intl.NumberFormat('us-US').format(datasCdePenal[i].tarif) %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#table_codepenal').DataTable({
                "pageLength": 25,
                order: [[0, 'asc']]
            });
        });
    </script>

    <%- include('../../partials/footer'); -%>