<%- include('../../partials/header'); -%>

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Individu <strong>
                        <%= datas.prenom %>, <%= datas.nom %>
                    </strong> casier du <strong>
                        <%= moment(datas.timeCreate).format('DD/MM/YYYY HH:mm') %>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Genre : <strong>
                            <%= datas.genre %>
                        </strong>
                    </p>
                    <p class="card-text">Taille : <strong>
                            <%= datas.tail_cm %> cm
                        </strong>
                    </p>
                    <p class="card-text">Profession, Téléphone : <strong>
                            <%= datas.profession %>, (555)-<%= datas.telephone %>
                        </strong>
                    </p>
                    <p class="card-text">Signes distinctifs : <strong>
                            <%= datas.signe_distinctif %>
                        </strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    Photos 1
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_1 %>" target="_blank">
                    <img src="<%= datas.photo_1 %>" class="img-thumbnail float-start" alt="photo 1" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    Photos 2
                </div>
                <div class="card-body">
                    <a href="<%= datas.photo_2 %>" target="_blank">
                    <img src="<%= datas.photo_2 %>" class="img-thumbnail float-end" alt="photo 2" />
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Liste des casiers &nbsp;&nbsp;&nbsp;
                <a href="/casier/detail/new/<%= datas.id %>" type="button" class="btn btn-primary btn-sm">Ajouter casier</a>
            </div>
            <div class="card-body">


                <table id="table_details" class="table-responsive table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Agent</th>
                            <th scope="col">T.I.G</th>
                            <th scope="col">Montant Total</th>
                            <th scope="col">Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% calculSum=0 %>
                            <% for(var i=0; i < datasCasiers.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= moment(datasCasiers[i].date).format('DD/MM/YYYY HH:mm') %>
                                    </td>
                                    <td>
                                        <%= datasCasiers[i].prenom %>, <%= datasCasiers[i].nom %> [<%=
                                                    datasCasiers[i].matricule %>]
                                    </td>
                                    <td>
                                        <%= Math.round(datasCasiers[i].total / 1500) %>
                                    </td>
                                    <td>
                                        $<%= Intl.NumberFormat('us-US').format(datasCasiers[i].total) %>
                                    </td>
                                    <td>
                                        <a href="/casier/detail/edit/<%= datasCasiers[i].id_casier %>" type="button"
                                            class="btn btn-secondary btn-sm" title="casier"><i
                                                data-feather="edit"></i></a>
                                    </td>
                                </tr>
                                <% calculSum=calculSum + datasCasiers[i].total %>
                                    <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" style="text-align:right"><i>T.I.G total effectué : <%= Math.round(calculSum / 1500) %>
                                        (calcul
                                        auto)</i>&nbsp;&nbsp;&nbsp;</td>
                            <td><strong>$<%= Intl.NumberFormat('us-US').format(calculSum) %></strong>
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('#table_details').DataTable({
                order: [[0, 'asc']]
            });
        });
    </script>

    <%- include('../../partials/footer'); -%>